apiVersion: v1
kind: Pod
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ""
  labels:
    component: kube-controller-manager
    tier: control-plane
  name: openstack-cloud-controller-manager
  namespace: kube-system
spec:
  containers:
    - name: openstack-cloud-controller-manager
      image: docker.io/k8scloudprovider/openstack-cloud-controller-manager:v1.15.0
      args:
        - /bin/openstack-cloud-controller-manager
        - --v=2
        - --allocate-node-cidrs=true
        - --cluster-cidr={{ pod_subnet_cidr }}
        - --cloud-config=/etc/kubernetes/cloud-config
        - --cloud-provider=openstack
        - --use-service-account-credentials=true
        - --address=127.0.0.1
        - --kubeconfig=/etc/kubernetes/controller-manager.conf
      volumeMounts:
        - mountPath: /etc/kubernetes/pki
          name: k8s-certs
          readOnly: true
        - mountPath: /etc/ssl/certs
          name: ca-certs
          readOnly: true
        - mountPath: /etc/kubernetes/controller-manager.conf
          name: kubeconfig
          readOnly: true
        - mountPath: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
          name: flexvolume-dir
        - mountPath: /etc/kubernetes/cloud-config
          name: cloud-config
          readOnly: true
      resources:
        requests:
          cpu: 200m
  hostNetwork: true
  volumes:
    - hostPath:
        path: /usr/libexec/kubernetes/kubelet-plugins/volume/exec
        type: DirectoryOrCreate
      name: flexvolume-dir
    - hostPath:
        path: /etc/kubernetes/pki
        type: DirectoryOrCreate
      name: k8s-certs
    - hostPath:
        path: /etc/ssl/certs
        type: DirectoryOrCreate
      name: ca-certs
    - hostPath:
        path: /etc/kubernetes/controller-manager.conf
        type: FileOrCreate
      name: kubeconfig
    - hostPath:
        path: /etc/kubernetes/cloud-config
        type: FileOrCreate
      name: cloud-config
